<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="Main"/>
    <bean id="Column" class="Columns.ColumnLines">
    <constructor-arg value="Beans"/>
</bean>
    <bean id="Boundary" class="LineGenerator.StringBoundaryValues" scope="prototype">

        <constructor-arg value="4" type="java.lang.Integer"/>
        <constructor-arg value="4" type="java.lang.Integer"/>
        <constructor-arg value="true" type="java.lang.Boolean"/>
        <constructor-arg value="true" type="java.lang.Boolean"/>
        <constructor-arg value="true" type="java.lang.Boolean"/>
        <constructor-arg ref="Column"/>
    </bean>
    <bean id="Special" class="LineGenerator.StringSpecialValues">
        <constructor-arg value="10" type="java.lang.Integer"/>
        <constructor-arg value="25" type="java.lang.Integer"/>
        <constructor-arg value="true" type="java.lang.Boolean"/>
        <constructor-arg value="true" type="java.lang.Boolean"/>
        <constructor-arg ref="Column"/>
    </bean>


</beans>
