<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generator</title>
    <link rel="stylesheet" type="text/css" href="../static/indexstyle.css">
    <script   src="https://code.jquery.com/jquery-3.3.1.slim.min.js"   integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="   crossorigin="anonymous"></script>
    <script src="../static/script.js"></script>
</head>
<body>
<div id="container">

    <div id="header">
        <div id="home">
            <button onclick="home()">Домой</button>
        </div>
    </div>

    <div id="navigation">
        <form name="addcolumn">
            <div id="add">
            <button onclick="createcolumn(addcolumn)">Добавить колонку</button>
        </div>
        <div id="columnname">
            <input type="text" name="rix"/>
        </div>
        </form>
    </div>

    <div id="content">
        <div><p></p></div>
        <iframe  src="testsuite.html" width="1050" height="380" margin>
        </iframe>

        <div id="savemodel">
            <button onclick="savemodel()">Cохранить модель</button>
        </div>

    </div>

    <div id="clear">

    </div>

    <div id="footer">
        <h2>footer (низ сайта)</h2>
    </div>
</div>
</body>
</html>