<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generator</title>
    <link rel="stylesheet" type="text/css" href="../static/indexstyle.css">
    <script src="../static/script.js"></script>
</head>
<body>
<div id="container">

    <div id="header">
        <div id="home">
            <button onclick="home()">Домой</button>
        </div>
    </div>

    <div id="navigation">
        <form name="addcolumn">
            <div id="add">
            <button onclick="createcolumn(addcolumn)">Добавить колонку</button>
        </div>
        <div id="columnname">
            <input type="text" name="rix"/>
        </div>
        </form>
    </div>

    <div id="content">
        <h2>Основной контент страницы</h2>
    </div>

    <div id="clear">

    </div>

    <div id="footer">
        <h2>footer (низ сайта)</h2>
    </div>
</div>
</body>
</html>