<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=5">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/indexstyle.css">
    <script type="text/javascript" src="../js/script.js"></script>
</head>
<body>
<nav id=navbar class="navbar navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:8080/">Bumblebee</a>
        <ul class="nav navbar-nav">
            <li class="active"><a href="about.html">О проекте</a></li>
            <li><a href="howuse.html">Инструкция</a></li>
            <li><a href="generator.html">Создать тестовые данные</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
<div id="container">
    <div id="content">

        <h2>Тело сайта</h2>
    </div>

    <div id="clear">

    </div>

    <div id="footer">
        <h2>footer (низ сайта)</h2>
    </div>
</div>
</body>
</html>